extends ../../layouts/default.pug
include ../../mixins/button-status.pug
include ../../mixins/search.pug
include ../../mixins/list-product.pug
include ../../mixins/pagination.pug
include ../../mixins/box-action.pug
block main
  h1(class="mb-4") Quản lý sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +button-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header Hành động
    .card-body
      +box-action(`/${prefixAdmin}/products/change-multi-status`)

  .card.mb-3
    .card-header Sắp xếp
    .card-body
      .row
        .col-5
          div(sort)
            select(
              class="form-control"
              name="sort"
              sort-select
            )
              option(value="position-desc") Vị trí giảm dần
              option(value="position-asc") Vị trí tăng dần
              option(value="price-desc") Giá giảm dần
              option(value="price-asc") Giá tăng dần
              option(value="title-asc") Tiêu đề A - Z
              option(value="title-desc") Tiêu đề Z - A

            button(
              class="btn btn-danger mt-2"
              sort-clear
            ) Clear
  .card.mb-3
    .card-header Danh sách
    .card-body
      div(class="text-right mb-2")
        a(
          href=`/${prefixAdmin}/products/create`
          class="btn btn-outline-success"
        ) + Thêm mới
      table.table.table-hover.table-sm
        +list-product(productList)
  +pagination(pagination)