include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/client/images/logo.svg", alt="Logo")

      .col-5
        form(
          action="/search"
          method="GET"
          search-product
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
              disabled
            ) Tìm

      .col-4
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              a(href="/products") Sản phẩm
              if(newCategoryProducts)
                +sub-menu(newCategoryProducts)
            if(user)
              li
                a(href="/cart" class="fa-solid fa-cart-shopping") (#{cartTotal})
              li
                a(href='/address' class="fa-regular fa-address-book address" ) 
                div(class='address-info') cập nhật địa chỉ 
              li 
                a(href="/order") đơn hàng  
            //- khách hàng 
            if(user)
              if(user.role=='client')
                li 
                  a(href=`/chat/${user.roomChatId}`) chat
              else 
                //- admin
                li 
                  a(href='/chat/admin/list-room-chat') danh sách chat
            if(user)
              li 
                a(href="/user/logout") đăng xuất
            else 
              li 
                a(href='/user/login') đăng nhập
              li 
                a(href='/user/register') đăng ký

