extends ../../layouts/default.pug
include ../../mixins/rolePermision
block main
  h1(class="mb-4") #{pageTitle}

  if(records)
    div(class="text-right")
      button(
        type="submit"
        class="btn btn-primary mb-3"
        button-submit=`/${prefixAdmin}/roles/permissions`
      ) Cập nhật

    table(
      class="table table-hover table-sm"
      table-permissions
    )
      thead
        tr
          th Tính năng
          each item in records
            th(
              class="text-center"
              role-id=item.id
            ) #{item.title}
      tbody
        +role-permision(records, 'danh mục sản phẩm', 'product-category')
        +role-permision(records, 'phân quyền', 'role')
        +role-permision(records, 'tài khoản', 'account')
        +role-permision(records, 'sản phẩm', 'product')
        +role-permision(records, 'thùng rác', 'trash')