extends ../../layouts/default.pug

block main 
    .chat
        .container
            .inner-wrap
                .inner-left
                    .inner-title Đoạn chat
                    .inner-list
                        each user in listUser
                            div(class='inner-user' user-chat-room = user.id)
                                img.inner-avatar(src='https://res-console.cloudinary.com/dcvzd9fys/thumbnails/v1/image/upload/v1725815808/YWpla2JqZXpybGF3anFqd3lnajY=/asset_picker_grid')
                                .inner-content
                                    .inner-name #{user.fullName}
                                    div(class='inner-title'  class=(user.seen==false ? 'no-seen' : ''))
                                        if(user.newMessage)
                                            .inner-mess #{user.newMessage}
                                            .inner-time #{user.timeSending}
                .inner-right
                    if(lastUser)
                        div(class='inner-head' head-box-chat )
                            img.inner-avatar(src='https://res-console.cloudinary.com/dcvzd9fys/thumbnails/v1/image/upload/v1725815808/YWpla2JqZXpybGF3anFqd3lnajY=/asset_picker_grid')
                            .inner-title
                                .inner-name #{lastUser.fullName}
                        div(class='inner-body' body-box )
                            div(class='inner-chat' box-chat my-id=user.id current-page=1 total-page = paginationMessage.totalPage)
                                each mess in listMess
                                    if(mess.userId == user.id)
                                        .inner-going #{mess.content}
                                    else
                                        .inner-coming #{mess.content}
                                    
                        form(action='' form-sent-message class='inner-form' )
                            input(type='text' class='inner-write' placeholder='Aa' name='content')
                            button
                                i.fa-solid.fa-paper-plane
                                