extends ../../layouts/default.pug
include ../../mixins/list-product
include ../../mixins/pagination.pug


block main 
    a(
        href = `/${prefixAdmin}/trash/products`
        class="btn btn-primary btn-lg ml-4"
    ) product
    a(
        href = `/${prefixAdmin}/trash/roles`
        class="btn btn-primary btn-lg ml-4"
    ) roles
    a(
        href = `/${prefixAdmin}/trash/accounts`
        class="btn btn-primary btn-lg ml-4"
    ) accounts
    a(
        href = `/${prefixAdmin}/trash/product-category`
        class="btn btn-primary btn-lg ml-4"
    ) productCategory