//- hiển thị sản phẩm

mixin listProduct (products)   
    .section-1
        each item in products
            .inner-wrap
                .product-item
                    a(href=`/products/detail/${item.slug}`)
                        .inner-image
                            img(src=item.thumbnail, alt=item.title)
                        .inner-content
                            h3.inner-title #{item.title}
                            .inner-price-old #{item.price}$
                            .inner-price #{item.priceNew}$
                            .inner-discount -#{item.discountPercentage}%